In [1]:
import pandas as pd
import numpy as np

In [2]:
path="/Users/ecemdenizbabaoglan/Downloads/archive"

In [3]:
ds1_path=(path+"/02-14-2018.csv")

In [5]:
ds1=pd.read_csv(ds1_path)

In [6]:
ds1.info

<bound method DataFrame.info of          Dst Port  Protocol            Timestamp  Flow Duration  Tot Fwd Pkts  \
0               0         0  14/02/2018 08:31:01      112641719             3
1               0         0  14/02/2018 08:33:50      112641466             3
2               0         0  14/02/2018 08:36:39      112638623             3
3              22         6  14/02/2018 08:40:13        6453966            15
4              22         6  14/02/2018 08:40:23        8804066            14
...           ...       ...                  ...            ...           ...
1048570        80         6  14/02/2018 10:53:23       10156986             5
1048571        80         6  14/02/2018 10:53:33            117             2
1048572        80         6  14/02/2018 10:53:28        5095331             3
1048573        80         6  14/02/2018 10:53:28        5235511             3
1048574       443         6  14/02/2018 10:53:28        5807256             6

         Tot Bwd Pkts  TotLen Fwd Pkts  TotLen Bwd Pkts  Fwd Pkt Len Max  \
0                   0                0                0                0
1                   0                0                0                0
2                   0                0                0                0
3                  10             1239             2273              744
4                  11             1143             2209              744
...               ...              ...              ...              ...
1048570             5             1089             1923              587
1048571             0                0                0                0
1048572             1                0                0                0
1048573             1                0                0                0
1048574             4              327              145              245

         Fwd Pkt Len Min  ...  Fwd Seg Size Min  Active Mean  Active Std  \
0                      0  ...                 0          0.0         0.0
1                      0  ...                 0          0.0         0.0
2                      0  ...                 0          0.0         0.0
3                      0  ...                32          0.0         0.0
4                      0  ...                32          0.0         0.0
...                  ...  ...               ...          ...         ...
1048570                0  ...                20          0.0         0.0
1048571                0  ...                20          0.0         0.0
1048572                0  ...                20          0.0         0.0
1048573                0  ...                20          0.0         0.0
1048574                0  ...                20     291569.0         0.0

         Active Max  Active Min   Idle Mean    Idle Std  Idle Max  Idle Min  \
0                 0           0  56320859.5  139.300036  56320958  56320761
1                 0           0  56320733.0  114.551299  56320814  56320652
2                 0           0  56319311.5  301.934596  56319525  56319098
3                 0           0         0.0    0.000000         0         0
4                 0           0         0.0    0.000000         0         0
...             ...         ...         ...         ...       ...       ...
1048570           0           0         0.0    0.000000         0         0
1048571           0           0         0.0    0.000000         0         0
1048572           0           0         0.0    0.000000         0         0
1048573           0           0         0.0    0.000000         0         0
1048574      291569      291569   5515650.0    0.000000   5515650   5515650

          Label
0        Benign
1        Benign
2        Benign
3        Benign
4        Benign
...         ...
1048570  Benign
1048571  Benign
1048572  Benign
1048573  Benign
1048574  Benign

[1048575 rows x 80 columns]>

In [7]:
ds1.shape

(1048575, 80)

In [9]:
ds1['Label'].value_counts()

Benign            667626
FTP-BruteForce    193360
SSH-Bruteforce    187589
Name: Label, dtype: int64

In [12]:
ds2_path=(path+"/02-15-2018.csv")

In [13]:
ds2=pd.read_csv(ds2_path)

In [14]:
ds2['Label'].value_counts()

Benign                   996077
DoS attacks-GoldenEye     41508
DoS attacks-Slowloris     10990
Name: Label, dtype: int64

In [15]:
ds3_path=(path+"/02-16-2018.csv")

In [18]:
ds3=pd.read_csv(ds3_path, low_memory=False)

In [19]:
ds3.head()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0,0,16/02/2018 08:27:23,112640768,3,0,0,0,0,0,...,0,0,0,0,0,56300000,138.5929291,56300000,56300000,Benign
1,0,0,16/02/2018 08:30:12,112641773,3,0,0,0,0,0,...,0,0,0,0,0,56300000,263.7508294,56300000,56300000,Benign
2,35605,6,16/02/2018 08:26:55,20784143,23,44,2416,1344,240,64,...,20,2624734,0,2624734,2624734,9058214,0,9058214,9058214,Benign
3,0,0,16/02/2018 08:33:01,112640836,3,0,0,0,0,0,...,0,0,0,0,0,56300000,82.02438662,56300000,56300000,Benign
4,23,6,16/02/2018 08:27:59,20,1,1,0,0,0,0,...,20,0,0,0,0,0,0,0,0,Benign

In [20]:
ds3['Label'].value_counts()

DoS attacks-Hulk            461912
Benign                      446772
DoS attacks-SlowHTTPTest    139890
Label                            1
Name: Label, dtype: int64

In [23]:
ds4_path=(path+"/02-20-2018.csv")

In [24]:
ds4=pd.read_csv(ds4_path)

In [25]:
ds4['Label'].value_counts()

Benign                    7372557
DDoS attacks-LOIC-HTTP     576191
Name: Label, dtype: int64

In [26]:
ds5_path=(path+"/02-21-2018.csv")

In [27]:
ds5=pd.read_csv(ds5_path)

In [28]:
ds5['Label'].value_counts()

DDOS attack-HOIC        686012
Benign                  360833
DDOS attack-LOIC-UDP      1730
Name: Label, dtype: int64

In [29]:
ds6_path=(path+"/02-22-2018.csv")

In [30]:
ds6=pd.read_csv(ds6_path)

In [31]:
ds6['Label'].value_counts()

Benign              1048213
Brute Force -Web        249
Brute Force -XSS         79
SQL Injection            34
Name: Label, dtype: int64

In [32]:
ds7_path=(path+"/02-23-2018.csv")

In [33]:
ds7=pd.read_csv(ds7_path)

In [34]:
ds7['Label'].value_counts()

Benign              1048009
Brute Force -Web        362
Brute Force -XSS        151
SQL Injection            53
Name: Label, dtype: int64

In [35]:
ds8_path=(path+"/02-28-2018.csv")

In [37]:
ds8=pd.read_csv(ds8_path, low_memory=False)

In [38]:
ds8['Label'].value_counts()

Benign           544200
Infilteration     68871
Label                33
Name: Label, dtype: int64

In [40]:
ds9_path=(path+"/03-01-2018.csv")

In [42]:
ds9=pd.read_csv(ds9_path, low_memory=False)

In [43]:
ds9['Label'].value_counts()

Benign           238037
Infilteration     93063
Label                25
Name: Label, dtype: int64

In [44]:
ds10_path=(path+"/03-02-2018.csv")

In [45]:
ds10=pd.read_csv(ds10_path)

In [46]:
ds10['Label'].value_counts()

Benign    762384
Bot       286191
Name: Label, dtype: int64